<div class="container">
    <form  [formGroup]="form" class="form-content" matForm matForm (submit)="onacceptorder()" >
       <mat-form-field class="example-full-width" *ngIf="!isavailable">
           <mat-label>Order Id</mat-label>
           <input matInput type="text" formControlName="orderId" placeholder="Order Id">                
           <!--<mat-error *ngIf="form.get('orderId').invalid">Please enter Order id</mat-error>-->
         </mat-form-field>          
         <button  *ngIf="!isavailable"
         mat-raised-button color="primary" 
         type="button" (click)="onverify()" 
         style="width: fit-content;font-size:large; align-self: center;">
         Submit
     </button>    
         <!--<mat-form-field *ngIf="isavailable">
           <mat-label>Choose the pick up date</mat-label>
           <input matInput [matDatepicker]="picker" formControlName="date">
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>         
           <mat-error *ngIf="form.get('date').invalid">Please Choose the date</mat-error>
         </mat-form-field>-->
         <mat-form-field class="example-full-width" *ngIf="isavailable">
          <mat-label>Date</mat-label>
          <input matInput type="text"  placeholder="Date" formControlName="date">                
          <!--<mat-error *ngIf="form.get('vehicleType').invalid">Please enter Vehicle Type</mat-error>-->
        </mat-form-field>
        
        <mat-form-field *ngIf="isavailable">
          <mat-label>Select the Time Slot</mat-label>
          <mat-select formControlName="timeslot" required (ngModelChange)="isvalid()">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let timeslot of timeslots" [value]="timeslot">
              {{timeslot.slot_details}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="istimeslotavailable">
          
          <mat-label>Select the Loading Slot</mat-label>
          <mat-select formControlName="slot" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let slot of slots" [value]="slot">
              {{slot.slot_details}}
            </mat-option>
          </mat-select>
          
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="isavailable">
          <mat-label>Logistics Company Name</mat-label>
          <input matInput type="text" formControlName="companyName" placeholder="Logistics Company Name">                
          <!--<mat-error *ngIf="form.get('companyName').invalid">Please enter Comapany Name</mat-error>-->
        </mat-form-field>
         <mat-form-field class="example-full-width" *ngIf="isavailable">
           <mat-label>Store name</mat-label>
           <input matInput type="text"  placeholder="Store name" formControlName="storename">                
           <!--<mat-error *ngIf="form.get('vehicleType').invalid">Please enter Vehicle Type</mat-error>-->
         </mat-form-field>
         <mat-form-field class="example-full-width" *ngIf="isavailable">
           <mat-label>Landmark</mat-label>
           <input matInput type="text"  placeholder="Landmark" formControlName="landmark">                
           <!--<mat-error *ngIf="form.get('vehicleType').invalid">Please enter Vehicle Type</mat-error>-->
         </mat-form-field>
         <mat-form-field class="example-full-width" *ngIf="isavailable">
           <mat-label>Location</mat-label>
           <input matInput type="text"  placeholder="Location" formControlName="location">                
           <!--<mat-error *ngIf="form.get('vehicleType').invalid">Please enter Vehicle Type</mat-error>-->
         </mat-form-field>
         <mat-form-field class="example-full-width" *ngIf="isavailable">
          <mat-label>Vehicle No</mat-label>
          <input matInput type="text"  placeholder="Vehicle No" formControlName="vehicleNo">                
          <!--<mat-error *ngIf="form.get('vehicleType').invalid">Please enter Vehicle Type</mat-error>-->
        </mat-form-field>
        <mat-form-field class="example-full-width" *ngIf="isavailable">
          <mat-label>Driver Name</mat-label>
          <input matInput type="text"  placeholder="Driver Name" formControlName="driverName">                
          <!--<mat-error *ngIf="form.get('vehicleType').invalid">Please enter Vehicle Type</mat-error>-->
        </mat-form-field>
         <button 
         mat-raised-button color="primary" *ngIf="isavailable" 
         type="submit" 
         style="width: fit-content;font-size:large; align-self: center;">
         Submit
     </button>
   </form>
</div>