<div class="container">
    <form  [formGroup]="form" class="form-content" matForm matForm (submit)="onupdateorder()" >
         <mat-form-field class="example-full-width" >
          <mat-label>Vehicle No</mat-label>
          <input matInput type="text"  placeholder="Vehicle No" formControlName="vehicleNo">                
          <!--<mat-error *ngIf="form.get('vehicleType').invalid">Please enter Vehicle Type</mat-error>-->
        </mat-form-field>
        <mat-form-field class="example-full-width" >
          <mat-label>Driver Name</mat-label>
          <input matInput type="text"  placeholder="Driver Name" formControlName="driverName">                
          <!--<mat-error *ngIf="form.get('vehicleType').invalid">Please enter Vehicle Type</mat-error>-->
        </mat-form-field>
         <button 
         mat-raised-button color="primary" 
         type="submit" 
         style="width: fit-content;font-size:large; align-self: center;">
         Submit
     </button>
   </form>
</div>