<div class="container">
        
    <form  class="form-content" matForm   >
       <mat-form-field class="example-full-width">
           <mat-label>Enter UserName</mat-label>
           <input matInput type="text"  placeholder="User Name">                
           <!--<mat-error *ngIf="form.get('orderId').invalid">Please enter Order id</mat-error>-->
         </mat-form-field>
         
         <mat-form-field class="example-full-width">
           <mat-label>Default Password</mat-label>
           <input matInput type="password"  placeholder="Password">                
           <!--<mat-error *ngIf="form.get('companyName').invalid">Please enter Comapany Name</mat-error>-->
         </mat-form-field>    
         
   </form>
   
</div>
       